.big-active-slider {

    /* Dimensioni di base delle slide */
    .swiper-slide {
        transition: transform 0.3s ease;
        /* Transizione fluida */
        flex-grow: 1;
        transform: scale(1);
        /* Scala normale (100%) */
    }

    /* Quando una slide è attiva */
    .swiper-slide.active {
        transform: scale(1.2);
        /* Ingrandisci la slide attiva */
    }

    /* Slide non attive si rimpiccioliscono */
    .swiper-slide.inactive {
        transform: scale(0.8);
        /* Rimpicciolisci le slide non attive */
    }
}