.woocommerce-cart {

    .with-empty-cart-icon {
        margin: 40px 0;
    }

    .wp-block-heading {
        display: none;

        &.with-empty-cart-icon {
            display: block;
        }
    }

    .wp-block-separator {
        display: none;
    }

    .wc-block-grid__product-title {
        height: 120px;
    }

    .wp-block-product-new {
        display: none;
    }

    .wc-block-cart__submit-container {
        font-family: $font_metropolis !important;
        text-transform: uppercase !important;
        background: $purple !important;
        padding: 10px 20px 10px !important;
        height: 56px !important;
        font-size: 14px !important;
        line-height: 18px !important;
        border-radius: 8px !important;
        color: $white !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-weight: 700;
        transition: .3s ease !important;
        width: fit-content !important;
        margin: 16px auto !important;
        text-align: center;
        font-family: $font_adelle !important;
    }
}

.woocommerce-checkout {
    .wc-block-components-checkout-place-order-button {
        width: auto !important
    }

    .wc-block-components-checkout-place-order-button__text {
        font-family: $font_metropolis !important;
        text-transform: uppercase !important;
        background: $purple !important;
        padding: 10px 20px 10px !important;
        height: 56px !important;
        font-size: 14px !important;
        line-height: 18px !important;
        border-radius: 8px !important;
        color: $white !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-weight: 700;
        transition: .3s ease !important;
        width: fit-content !important;
        margin: 16px auto !important;
        text-align: center;
        font-family: $font_adelle !important;

    }

    .wc-block-components-product-metadata__description {
        display: none !important;
    }
}