header {
	&.header_scrolled {
		top: -100%;
	}

	.mainMenu {

		@media screen and (max-width: 1024px) {


			transform: translateX(-120%);

			&.menuOpen {
				transform: translateX(0)
			}
		}
	}

	.main-menu {
		background-image: url(/src/images/logo/colored-icon.svg);
		background-position: center 70%;
		background-size: 90%;
		background-repeat: no-repeat;
	}

	.logo-black {
		display: none;
	}

	.overflow-y-hidden & {
		.logo-original {
			display: none;
		}

		.logo-black {
			display: block;
		}
	}
}