/* Font Families */

/* Bylon */

@font-face {
	font-family: 'Bylon';
	src: url('../../fonts/Bylon.woff2') format('woff2'),
		url('../../fonts/Bylon.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bylon';
	src: url('../../fonts/Bylon.woff2') format('woff2'),
		url('../../fonts/Bylon.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bylon';
	src: url('../../fonts/Bylon.woff2') format('woff2'),
		url('../../fonts/Bylon.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* adelle */