@layer components {
  .footer .footer-accordion-title .plusMenu:before {
    @apply text-[30px];
  }

  .footer .footer-accordion-title.is-open .plusMenu:before {
    @apply content-["\2212"];
  }

  footer b {
    font-weight: bold;
  }

  .hover-effect::after {
    @apply h-[80px] -left-8 opacity-20 absolute -top-5 w-6 bg-white;
    content: "";
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .hover-effect:hover::after {
    @apply bg-white left-[200px] z-[1];
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
