@layer utilities {
    .wall {
        @apply relative overflow-hidden bg-blue;
    }

    .wall .wall-content {
        @apply relative text-white;
    }

    .wall .wall-title {
        @apply text-center font-normal pb-0 mb-0 px-5 md:mb-0 md:pb-0;
    }

    .wall .wall-text {
        @apply px-5 tw-container-md;
        @apply md:mb-[120px] md:mt-0 !important;
    }

    .wall .wall-text,
    .wall .wall-text p {
        @apply text-center font-light mt-0 md:my-10 tw-p md:mt-0;
    }

    .wall .wall-element {
        @apply bg-[#002855] text-white bg-cover bg-center flex items-end relative aspect-[7/8] md:aspect-[4/3] p-4 overflow-hidden;
        @apply md:p-4;
    }

    .wall .wall-element::before {
        @apply absolute top-0 left-0 w-full h-full block;
        content: '';
        background: linear-gradient(0deg, rgba(0, 40, 85, 0.90) 0%, rgba(0, 40, 85, 0.00) 100%);
        z-index: 1;
        transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1.1);
    }

    .wall .wall-element>div {
        @apply relative flex flex-col items-start justify-center;
        z-index: 2;
    }

    .wall .wall-element .wall-element-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        transition: .6s ease-in-out;
        z-index: 0;
    }

    .wall .wall-element:hover .wall-element-bg {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    .wall .wall-element-title {
        @apply text-white text-base font-medium tw-h5 md:font-overpass sm:leading-[normal] leading-[normal];
    }

    .wall .wall-element-badge {
        @apply text-blue rounded-full bg-white/50 text-[#002855] font-overpass text-xxs font-semibold text-center md:text-sm md:font-semibold px-3 mt-4 h-[26px] md:h-[30px] leading-[28px] md:leading-[32.5px];

    }

    .wall .horizontal-scroll-section {
        @apply overflow-x-auto;
        @apply grid gap-4;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .wall .wall-items {
        @apply bg-[#002855] md:bg-[#eef1f8];
    }

    .wall .horizontal-scroll-section::before {
        @apply hidden md:block md:bg-[#002855];
        content: '';
        display: block;
        position: absolute;
        top: -120px;
        left: 0;
        width: 600vw;
        height: calc(120px + 60%);
    }

    .wall .horizontal-scroll-section> :nth-child(-n+10) {
        align-self: end;
    }

    .wall .horizontal-scroll-section> :nth-child(n+11):nth-child(-n+20) {
        align-self: start;
    }

    .wall .horizontal-scroll-section> :nth-child(4n-3):nth-child(-n+10) {
        @apply md:aspect-[1/1];
        max-height: 50vh;
        width: 100%;
        @apply md:p-5 !important;
    }

    .wall .horizontal-scroll-section> :nth-child(4n-1):nth-child(-n+10) {
        @apply md:p-5 !important;
        @apply md:aspect-[3/2];
        max-height: 30vh;
        width: 100%;
        transform: translateY(-8.2vw);
    }

    .wall .horizontal-scroll-section> :nth-child(even):nth-child(-n+10) {
        @apply md:p-5 !important;
        @apply md:aspect-[3/2];
        max-height: 30vh;
        width: 100%;
        transform: translateY(-4.1vw);
    }

    .wall .horizontal-scroll-section> :nth-child(even):nth-child(n+11):nth-child(-n+20) {
        @apply md:p-5 !important;
        @apply md:aspect-[3/2];
        max-height: 30vh;
        width: 100%;
        transform: translateY(-4.1vw);
    }

    .wall .horizontal-scroll-section> :nth-child(4n-3):nth-child(n+11):nth-child(-n+20) {
        @apply md:aspect-[1/1];
        @apply md:p-5 !important;
        max-height: 50vh;
        width: 100%;
        transform: translateY(-8.2vw);
    }

    .wall .horizontal-scroll-section> :nth-child(4n-1):nth-child(n+11):nth-child(-n+20) {
        @apply md:p-5 !important;
        @apply md:aspect-[3/2];
        max-height: 30vh;
        width: 100%;
    }

    /* @layer utilities {
        @media screen and (max-height: 600px) {
            .wall .horizontal-scroll-section > :nth-child(odd):nth-child(-n+10),
            .wall .horizontal-scroll-section > :nth-child(even):nth-child(-n+10),
            .wall .horizontal-scroll-section > :nth-child(odd):nth-child(n+11):nth-child(-n+20),
            .wall .horizontal-scroll-section > :nth-child(even):nth-child(n+11):nth-child(-n+20) {
                @apply lg:px-12 !important;
                @apply md:aspect-[16/9] !important;
            }
        }
    } */




    .wall .swiper-slide {
        @apply px-5;
    }

    .wall .swiper-container {
        @apply mb-3;
    }

    .wall .swiper-horizontal>.swiper-scrollbar,
    .wall .swiper-scrollbar.swiper-scrollbar-horizontal {
        @apply rounded-full h-1 mt-7 mb-8 mx-5 bg-white relative;
        background: rgba(255, 255, 255, 0.2);
        width: calc(50% - 1.25rem);
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
    }

    .wall .swiper-scrollbar-drag {
        @apply bg-lime;
    }

    .wall .swiper-pagination {
        padding-right: 1.25rem;
        right: 0;
        bottom: -18px;
        width: calc(50% - 1.25rem);
        justify-content: end;
    }

    .wall .swiper-pagination-bullet {
        @apply bg-white w-2 h-2 rounded-full opacity-50 hover:opacity-100 transition;
    }

    .wall .swiper-insights-link {
        @apply text-xxs font-overpass font-semibold text-right uppercase transition text-white flex items-center justify-center;
    }

    .wall .swiper-insights-link .swiper-insights-link-icon {
        @apply ml-2 text-white font-semibold transition bg-lime w-[42px] h-[42px] rounded-full;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"><g clip-path="url(%23clip0_761_5097)"><path d="M9.39892 3.62324L8.93384 4.08832C8.81705 4.20511 8.81705 4.39447 8.93384 4.51126L13.2946 8.87192H-0.276133C-0.4413 8.87192 -0.575195 9.00581 -0.575195 9.17098V9.82884C-0.575195 9.99401 -0.4413 10.1279 -0.276133 10.1279H13.2946L8.93384 14.4887C8.81705 14.6055 8.81705 14.7949 8.93384 14.9116L9.39892 15.3767C9.51571 15.4935 9.70507 15.4935 9.82186 15.3767L15.4872 9.71138C15.604 9.59459 15.604 9.40523 15.4872 9.28844L9.82186 3.62324C9.70507 3.50645 9.51571 3.50645 9.39892 3.62324Z" fill="%23002856"/></g><defs><clipPath id="clip0_761_5097"><rect width="17" height="17" fill="white"/></clipPath></defs></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px 17px;
    }
}